body {
    font-family: "Lato", sans-serif;
}

.top-header {
    background-color: black;
    padding: 30px;
}

.header-logo {
    height: 80px;
    width: auto;
}

.header-line {
    background-color: #34D786;
    height: 5px;
}

.nav-header {
    background-color: black;
    display: flex; 
    align-items: center;
    justify-content: right;
    padding: 0px 30px;
}

nav a {
    display:inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 0px 15px 20px;
}

.active {
    font-weight: 800;
}

.top-nav {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(67, 67, 67);
    padding: 10px;
}

h1 {
 font-size: 2rem;
 font-weight: 800;
}

h2 {
    font-weight: 600;
}

.heading {
    padding-top: 30px;
}

.main-content {
    max-width: 900px;
    margin: auto;
    display: flexbox;
    padding: 30px 30px 90px 30px;
}

.main-text {
    max-width: 900px;
    margin: auto;
    display: flexbox;
    flex: 1;
    padding-bottom: 30px;
}

.exhibitions {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    margin: auto;
    row-gap: 50px;
}

.exhibitions-cta {
    background-color: #3561DE;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    border-radius: 15px;
}

.exhibitions-links {
    background-color: #3561DE;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
    border-radius: 15px; 
}

.welcome-img {
    width: 100%;
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.exhibitions-img {
    width: 350px;
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.cta-link {
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.exhibition-details {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.details {
    background-color:#D7DFF8;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.detail-image {
    width: 350px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

.detail-text {
    padding: 0px 20px;  
}


.footer {
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    display: flexbox; 
    padding: 20px;
}

.footer_logo {
    height: 70px;
    Width: auto;
}

.fa-brands {
    padding: 10px;
    color: white;
}

@media (min-width:800px) {

    .welcome-img {
        width: 750px;
    }

    .exhibitions-cta {
        width: 750px;
    }

    .map {
        width: 750px;
        height: 500px;
    }

    .details {
        width: 700px;
        height: 440px;
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 30px;
        align-items: center;
    
    }

    .details2 {
        flex-direction: row-reverse;
    }


}